<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de IMC</title>
</head>
<body>
    <h1> Main Page </h1>

        <h2> Projetos </h2>
     <a href="{% url 'form_imc' %}"> Calcule seu IMC </a>
     <br>
     <a href="{% url 'poll_select' %}"> Pesquisa sobre esportes </a>
     <br>
     <a href="{% url 'energy' %}"> Calculadora de energia solar </a>
     <br>
     <a href="{% url 'poll_select' %}"> Enquete - Qual seu esporte favorito? </a>
     <br>
     <a href="{% url 'loan' %}"> Simule seu emprestimo com o banco </a>
     <br>
     <a href="{% url 'schedule' %}"> Gere seu cronograma de estudos </a>
</body>
</html>