{% extends 'poll/base.html' %}
{% load static %}
{% block content %}

    <h1> Enquete - <strong>Esportes</strong> </h1>

    <h2> {{ question }} </h2>

    <form action="{% url 'ranking' %}" method="POST">
    {% csrf_token %} 


     {% for alternative in alternatives %}
            <label>
                <input type="radio" name="option" value="{{ forloop.counter }}">
                {{ alternative }}
            </label><br>
        {% endfor %}

    <br>

    <button onclick="showMessage ('Voto enviado com sucesso')" type="submit">Votar</button>
</form>
    
<script src={% static 'poll/js/msg.js' %}> </script>

{% endblock content %}