{% extends 'poll/base.html' %}
{% block content %}

    <h1> Enquete - <strong>Esportes</strong> </h1>

    <h2> {{ question }} </h2>

    <form action="{% url 'ranking' %}" method="POST">
    {% csrf_token %} 


     {% for alternative in alternatives %}
            <label>
                <input type="radio" name="option" value="{{ forloop.counter }}">
                {{ alternative }}
            </label><br>
        {% endfor %}

    <br>

    <button type="submit">Votar</button>
</form>
    
    

{% endblock content %}